@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var current = CurrentPage;
}

@* the fun starts here *@
@Html.Partial("/Views/Partials/Layout/_Banner.cshtml")
<div class="container">
    <div class="wrap-920">
        <h1 class="page-title">@current.Name</h1>
        <div class="page-news-content">
            @current.GetPropertyValue("content")
        </div>
    </div>
</div>

