:focus {
    outline: none;
}

body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 22px;
    color: #363636;
}

ul, li, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
}

.mgb-50 {
    margin-bottom: 50px;
}

#wrapper {
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}

#wrapper-in {
    background: #fff;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 99;
    overflow: hidden;
}

.clr {
    clear: both;
}

a:visited, a:focus {
    outline: none;
}

.container {
    width: 1230px;
    max-width: 100%;
}
/*========================header=================*/
#header {
    position: relative;
    width: 100%;
    z-index: 10;
}

    #header .logo {
        width: 140px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: 8px 0;
    }

        #header .logo img {
            max-width: 100%;
        }

    #header .top-head .language {
        text-align: right;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    #header .top-head .head-info .search {
        width: 260px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

        #header .top-head .head-info .search input[type="text"] {
            width: 100%;
            border: 1px solid #ccc;
            height: 30px;
            -ms-border-radius: 5px;
            border-radius: 5px;
            padding: 0 25px 0 5px;
        }

        #header .top-head .head-info .search input[type="submit"] {
            width: 17px;
            height: 17px;
            background: url(/images/search.png);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 8px;
            margin: auto;
            border: none;
            font-size: 0;
        }

    #header .top-head .head-info > ul {
        display: inline-block;
        vertical-align: middle;
    }

        #header .top-head .head-info > ul li {
            display: inline-block;
            vertical-align: middle;
            padding-left: 25px;
        }

            #header .top-head .head-info > ul li:first-child {
                background: url(/images/phone.png) no-repeat center left;
                margin: 0 25px;
            }

            #header .top-head .head-info > ul li:last-child {
                background: url(/images/email.png) no-repeat center left;
                margin: 0 0 0 25px;
            }

            #header .top-head .head-info > ul li a {
                color: #363636;
            }

    #header .bottom-head {
        background: #024594;
        position: relative;
    }

        #header .bottom-head #menu {
            float: right;
        }

            #header .bottom-head #menu > li {
                float: left;
                padding: 0 23px;
            }

                #header .bottom-head #menu > li:last-child {
                    padding-right: 0;
                }

                #header .bottom-head #menu > li > a {
                    color: #fff;
                    text-transform: uppercase;
                    line-height: 39px;
					display:block;
                }

                #header .bottom-head #menu > li:hover > a {
                    color: #ffc20e;
                }

                #header .bottom-head #menu > li ul.menu-child {
                    position: absolute;
                    top: calc(100% - 2px);
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #fff;
                    padding: 15px 40px;
                    z-index: 99;
                    visibility: hidden;
                    opacity: 0;
                }

                #header .bottom-head #menu > li:hover > ul.menu-child {
                    visibility: visible;
                    opacity: 1;
                }

                #header .bottom-head #menu > li ul.menu-child::before {
                    position: absolute;
                    content: "";
                    background: #fff;
                    width: 100%;
                    height: 100%;
                    left: 100%;
                    top: 0;
                }

                #header .bottom-head #menu > li ul.menu-child::after {
                    position: absolute;
                    content: "";
                    background: #fff;
                    width: 100%;
                    height: 100%;
                    right: 100%;
                    top: 0;
                }

                #header .bottom-head #menu > li ul.menu-child li.item > a {
                    text-align: center;
                }

                    #header .bottom-head #menu > li ul.menu-child li.item > a:hover p {
                        color: #ffc20e;
                    }

                    #header .bottom-head #menu > li ul.menu-child li.item > a img {
                        max-width: 100%;
                        width: auto;
                        margin: 0 auto;
                    }

                    #header .bottom-head #menu > li ul.menu-child li.item > a p {
                        color: #363636;
                        text-transform: uppercase;
                        margin-top: 10px;
                    }

                #header .bottom-head #menu > li ul.menu-child .owl-prev,
                #header .bottom-head #menu > li ul.menu-child .owl-next {
                    top: 0;
                    bottom: 0;
                    width: 25px;
                    height: 25px;
                    margin: auto;
                    position: absolute;
                    font-size: 0;
                    opacity: 0.5;
                    transition: all .5s ease;
                }

                    #header .bottom-head #menu > li ul.menu-child .owl-prev:hover,
                    #header .bottom-head #menu > li ul.menu-child .owl-next:hover {
                        opacity: 1;
                    }

                #header .bottom-head #menu > li ul.menu-child .owl-prev {
                    left: 0;
                }

                #header .bottom-head #menu > li ul.menu-child .owl-next {
                    right: 0;
                }

                    #header .bottom-head #menu > li ul.menu-child .owl-prev::before,
                    #header .bottom-head #menu > li ul.menu-child .owl-next::before {
                        position: absolute;
                        background: #000;
                        width: 25px;
                        height: 25px;
                        color: #fff;
                        font-size: 15px;
                        font-family: FontAwesome;
                        text-align: center;
                        line-height: 25px;
                    }

                #header .bottom-head #menu > li ul.menu-child .owl-prev::before {
                    content: "\f053";
                    padding-right: 2px;
                }

                #header .bottom-head #menu > li ul.menu-child .owl-next::before {
                    content: "\f054";
                    padding-left: 2px;
                }
/**/
#main-content {
    background: #f3f3f3;
}

.mainBanner .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.mainBanner .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 0 2px;
    display: inline-block;
    vertical-align: top;
}

    .mainBanner .owl-dot.active {
        background: #024594;
    }

.main-category {
    text-align: center;
    padding: 30px 0;
}

    .main-category .item {
        padding: 0 20px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
    }

        .main-category .item p {
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 10px;
            color: #363636;
            transition: all .5s ease;
        }

        .main-category .item a {
            display: block;
        }

            .main-category .item a:hover p {
                color: #ffc20e;
            }

.page-title {
    font-size: 22px;
    color: #363636;
    font-weight: bold;
    margin: 40px 0 35px;
    position: relative;
    padding-bottom: 17px;
    text-transform: uppercase;
    text-align: center;
}

    .page-title::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 40px;
        background: #024594;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

.title-cate {
    border-bottom: 1px solid #024594;
    margin: 0 0 25px;
}

    .title-cate span {
        font-size: 14px;
        color: #fff;
        padding: 10px 40px 7px;
        font-weight: normal;
        text-transform: uppercase;
        display: inline-block;
        background: #024594;
    }

.grid-products .item .wrap-item {
    background: #fff;
    padding: 20px 10px 10px;
}

.grid-products .item {
    margin-bottom: 20px;
}

    .grid-products .item .wrap-item.item-new {
        position: relative;
    }

        .grid-products .item .wrap-item.item-new::before {
            position: absolute;
            content: "";
            width: 37px;
            height: 26px;
            background: url(/images/new.png);
            top: 10px;
            right: 10px;
        }

    .grid-products .item .wrap-item img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .grid-products .item .wrap-item .info {
        margin-top: 10px;
        padding: 15px 0 0;
        border-top: 1px solid #dadada;
    }

        .grid-products .item .wrap-item .info .title {
            color: #515151;
            text-transform: uppercase;
            width: 70%;
            display: inline-block;
        }

        .grid-products .item .wrap-item .info .code {
            color: #024594;
            font-weight: bold;
            text-align: right;
            text-transform: uppercase;
            width: calc(30% - 4px);
            display: inline-block;
        }

.btnShare-item {
    vertical-align: top;
}

    .btnShare-item.fb-share-button > span {
        height: 19px;
    }

.products-breadcrumb {
    margin: 20px 0;
}

    .products-breadcrumb,
    .products-breadcrumb a,
    .products-breadcrumb span {
        color: #b9b9b9;
    }

        .products-breadcrumb a:hover {
            color: #024594;
            text-decoration: underline;
        }

        .products-breadcrumb a,
        .products-breadcrumb span {
            margin: 0 5px;
        }

.product-info {
    margin: 0 -20px;
}

    .product-info .info-left {
        width: 340px;
        float: left;
        padding: 0 20px;
    }

        .product-info .info-left .mainImage img {
            width: 100%;
        }

        .product-info .info-left .moreImage {
            margin-top: 10px;
        }

            .product-info .info-left .moreImage .owl-prev,
            .product-info .info-left .moreImage .owl-next {
                font-size: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 20px;
                height: 20px;
                background: #024594;
                opacity: .5;
            }

                .product-info .info-left .moreImage .owl-prev::before,
                .product-info .info-left .moreImage .owl-next::before {
                    position: absolute;
                    background: #000;
                    width: 20px;
                    height: 20px;
                    color: #fff;
                    font-size: 12px;
                    font-family: FontAwesome;
                    text-align: center;
                    line-height: 23px;
                }

                .product-info .info-left .moreImage .owl-prev:hover,
                .product-info .info-left .moreImage .owl-next:hover {
                    opacity: 1;
                }

            .product-info .info-left .moreImage .owl-prev {
                left: -10px;
            }

            .product-info .info-left .moreImage .owl-next {
                right: -10px;
            }

            .product-info .info-left .moreImage .owl-prev::before {
                content: "\f053";
                padding-right: 2px;
            }

            .product-info .info-left .moreImage .owl-next::before {
                content: "\f054";
                padding-left: 2px;
            }

    .product-info .info-right {
        width: calc(100% - 340px);
        float: right;
        padding: 0 20px;
    }

        .product-info .info-right .product-name {
            padding: 15px 0 7px;
            margin-bottom: 15px;
            border-bottom: 1px dotted #363636;
        }

            .product-info .info-right .product-name h1 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 500;
                margin: 0;
                display: inline-block;
            }

        .product-info .info-right .description p {
            margin-bottom: 5px;
        }

        .product-info .info-right .description ul {
            padding-left: 15px;
            padding-left: 15px;
        }

            .product-info .info-right .description ul li {
                list-style: initial;
            }

.tabs-info {
    margin-top: 50px;
}

    .tabs-info ul.nav-tabs {
        border-color: #024594;
    }

    .tabs-info ul.nav > li > a {
        padding: 7px 25px 5px;
    }

    .tabs-info ul.nav-tabs > li > a {
        border: 1px solid #024594;
        border-radius: 0;
        text-transform: uppercase;
    }

    .tabs-info ul.nav-tabs > li.active > a,
    .tabs-info ul.nav-tabs > li.active > a:hover,
    .tabs-info ul.nav-tabs > li.active > a:focus {
        background: #024594;
        color: #fff;
    }

    .tabs-info .content-product {
        padding: 25px 0;
    }

        .tabs-info .content-product p {
            margin-bottom: 10px;
        }

        .tabs-info .content-product img {
            max-width: 100%;
            display: block;
            margin: 15px auto;
        }

.wrap-920 {
    width: 920px;
    margin: 0 auto;
    max-width: 100%;
}

.contact-info ul {
    margin-bottom: 35px;
}

    .contact-info ul li {
        width: calc(50% - 4px);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
    }

        .contact-info ul li, .contact-info ul li a {
            font-size: 13px;
            color: #363636;
        }

            .contact-info ul li a:hover {
                text-decoration: underline;
            }

            .contact-info ul li:nth-of-type(2n+1) {
                padding-right: 15px;
            }

.ico-home, .ico-phone, .ico-place, .ico-mail, .ico-web {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
}

.ico-home {
    background-image: url(/images/home.png);
}

.ico-phone {
    background-image: url(/images/phone.png);
}

.ico-place {
    background-image: url(/images/place.png);
}

.ico-mail {
    background-image: url(/images/email.png);
}

.ico-web {
    background-image: url(/images/web.png);
}

.form-contact {
    width: 420px;
    margin: 35px auto;
    max-width: 100%;
}

    .form-contact p.title {
        width: 80px;
        padding-right: 15px;
        color: #000;
        text-align: right;
        display: inline-block;
        vertical-align: top;
    }

    .form-contact .wrap-input {
        width: calc(100% - 85px);
        display: inline-block;
        vertical-align: middle;
    }

    .form-contact .type-input {
        width: 100%;
        height: 30px;
        border: 1px solid #e1e1e1;
        padding: 5px;
    }

        .form-contact .type-input.type-textarea {
            max-width: 100%;
            height: 110px;
            vertical-align: top;
            resize: none;
        }

    .form-contact input[type="submit"] {
        color: #fff;
        background: #024594;
        border: none;
        border-radius: 5px;
        padding: 7px 20px 5px;
    }
/** tuyen dung **/
.td-location {
    width: 510px;
    float: left;
    border-right: 1px solid #cccccc;
    text-align: left;
    padding: 0 25px;
}

.td-number {
    width: 200px;
    float: left;
    border-right: 1px solid #cccccc;
}

.td-time {
    width: 200px;
    float: left;
}

.accodion-head {
    text-align: center;
    background: #ececec;
    line-height: 50px;
    float: left;
    width: 100%;
    border: 1px solid #cccccc;
    border-bottom: 0;
    font-size: 14px;
    color: #1b1b1b;
    text-transform: uppercase;
}

.accodion-content {
    border: 1px solid #cccccc;
    border-top: 0;
    float: left;
    width: 100%;
}

.tin-title {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
    line-height: 50px;
    background: #ececec;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #1b1b1b;
}

    .tin-title:hover, .tin-title.active {
        background: #024594;
        color: #fff;
    }

    .tin-title .td-location {
        text-align: left;
        padding-left: 52px;
        background: url(/images/arr-td.png) no-repeat 15px center;
    }

    .tin-title:hover .td-location, .tin-title.active .td-location {
        background: url(/images/arr-td-hover.png) no-repeat 15px center;
    }

.tin-content {
    padding: 15px;
    float: left;
    width: 100%;
}

    .tin-content .content-wrap h3 {
        font-size: 14px;
        color: #333;
        font-weight: bold;
        margin-bottom: 7px;
    }

    .tin-content .content-wrap p {
        font-size: 14px;
        color: #1b1b1b;
    }

    .tin-content .content-wrap .td-form .btn-ut {
        height: 30px;
        background: #fecb02;
        border-radius: 15px;
        width: 178px;
        color: #282828;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 33px;
        text-align: center;
        display: inline-block;
        margin-top: 25px;
        cursor: pointer;
        margin-right: 25px;
    }

.modalRecrui .modal-header {
    display: block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
    background: #024594;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

    .modalRecrui .modal-header .close {
        opacity: 1;
        position: relative;
        top: -25px;
        right: -25px;
    }

.modalRecrui .modal-dialog {
    width: 480px;
    max-width: 90%;
}

.modalRecrui .form-group textarea {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    height: 170px;
    max-height: 170px;
    border: 1px solid #ccc;
    background: #fff;
    color: #1b1b1b;
    padding-left: 10px;
}

.modalRecrui input[type="submit"] {
    background: #024594;
    border: 0;
    color: #fff;
    padding: 5px 20px 2px;
    border-radius: 15px;
}

.modalRecrui .modal-body > p {
    color: #848484;
    margin-bottom: 10px;
}

.page-news-content {
    margin-bottom: 50px;
}

    .page-news-content p {
        margin-bottom: 10px;
    }

    .page-news-content img {
        max-width: 100%;
        display: block;
        margin: 15px auto;
    }

.wrap-systems {
    margin: 0 -10px;
    padding-bottom: 50px;
}

    .wrap-systems .item {
        width: calc(50% - 4px);
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
    }

    .wrap-systems .contact-box {
        border: 1px solid #ccc;
        padding: 10px 10px 4px;
        margin-bottom: 20px;
        background: #fff;
    }
        .wrap-systems .contact-box iframe {
            height: 260px !important;
            width: 100% !important;
        }
.wrap-certification .item {
            margin: 0 -10px 35px;
        }

.wrap-certification .img {
    width: 185px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    text-align: center;
}

    .wrap-certification .img img {
        max-width: 100%;
    }

.wrap-certification .content {
    width: calc(100% - 190px);
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

    .wrap-certification .content h1 {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 7px;
        font-size: 14px;
    }
/**/
.thongSo .table-bordered > thead > tr > th,
.thongSo .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
    background: #e8e8e8;
}

.thongSo .table thead tr th,
.thongSo .table tbody tr td {
    font-weight: normal;
    text-align: center;
}

.thongSo .table tbody tr td {
    background: #fff;
}

    .thongSo .table thead tr th span,
    .thongSo .table tbody tr td span {
        display: block;
        font-size: 12px;
        color: #8a8a8a;
    }

    .thongSo .table tbody tr td[rowspan="2"] {
        vertical-align: middle;
    }
/*============================
            FOOTER
    ============================*/
#footer {
    padding: 25px 0;
    border-top: 5px solid #024594;
}

    #footer .pull-left,
    #footer .pull-right {
        width: 50%;
    }

        #footer .pull-left h1 {
            color: #024594;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0 0 15px;
            font-size: 15px;
        }

        #footer .pull-left ul li {
            background: url(/images/arr_ft.png) no-repeat left center;
            padding: 3px 0 3px 15px;
            width: 50%;
            float: left;
        }

            #footer .pull-left ul li a {
                color: #363636;
                transition: all .5s ease;
            }

                #footer .pull-left ul li a:hover {
                    color: #ffc20e;
                    padding-left: 5px;
                }

        #footer .pull-right .text-right {
            margin-top: 25px;
        }

            #footer .pull-right .text-right p {
                margin-top: 25px;
            }

                #footer .pull-right .text-right p a {
                    color: #363636;
                }

                    #footer .pull-right .text-right p a:hover {
                        text-decoration: underline;
                    }



<!--[if IE]>
<style>
    .actual-form table {
     width: 100%;
 }
</style>
<![endif]-->



/*===========pager=======*/
.pagination-container {
    text-align: center;
    vertical-align: top;
    margin: 0;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
}

.pagination li a {
    color: #434343;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 31px;
    line-height: 31px;
    padding: 0 5px;
    min-width: 31px;
    font-weight: bold;
    border: none;
    margin: 0 2px;
    background: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

    .pagination li a:hover,
    .pagination li.active a:hover,
    .pagination li.active a {
        background-color: #024594;
        border-color: #024594;
        color: #fff;
        text-decoration: none;
    }

.pagination li.PagedList-skipToPrevious a,
.pagination li.PagedList-skipToNext a {
    line-height: 29px;
}

/** custom here **/



/*map*/
/*================== maps ===================*/
#map .box .fa {
    color: #297db3;
    display: inline-block;
    width: 25px;
}

#map .box .fa {
    width: 20px;
}

.map-wrap {
    background-color: #fff;
    border: solid 1px #d2d2d2;
    overflow: hidden;
    height: 480px;
    padding: 3px;
    width: 100%;
}

#mapwrap {
    height: 500px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

    #map .box {
        width: 340px;
    }

        #map .box, #map .box a {
            color: #282828;
            font-size: 14px;
            line-height: 22px;
        }

            #map .box .title-2 {
                color: #297db3;
                font-weight: 700;
                margin-bottom: 10px;
            }

            #map .box p {
                margin: 0;
                position: relative;
            }

            #map .box .title-2 {
                background: none;
                padding-bottom: 0;
            }

    #map .ml {
        margin-left: 15px;
    }

    #map .box .glyphicon {
        color: #b1b1b1;
        height: 18px;
        line-height: 18px;
        width: 16px;
    }

    #map .box .iconl {
        display: block;
        left: 0;
        top: 0;
        position: absolute;
    }
/*===============================*/
.mapbg {
    background-color: #fff;
}

.wrap-send {
    padding-top: 25px;
}

    .wrap-send .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .wrap-send .col-xs-6 {
        padding-left: 8px;
        padding-right: 8px;
    }

/*=========== breadcrumbs ==========*/
.corner {
    margin: 15px 0;
}

    .corner a > i.fa-home {
        color: #0f487e;
        font-size: 20px;
    }

    .corner span, .corner a {
        padding: 0 10px;
    }
/*=========== scroll to top ==========*/
.scroll-to-top {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: none;
    background: #016aa2;
    z-index: 99;
    text-align: center;
}

    .scroll-to-top i {
        font-size: 30px;
        color: #fff;
        line-height: 30px;
    }

/*=========== page giới thiệu ==========*/


/*======== page contact ========*/
.wrap-contact h4 {
    background: url(../images/line-2.gif) no-repeat left bottom;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.wrap-node {
    margin: 30px 0;
    width: 100%;
}

.address-contact p, .address-contact p a {
    margin-bottom: 5px;
    color: #464648;
}

    .address-contact p > .fa, #map .box .fa {
        color: #464648;
        display: inline-block;
        width: 30px;
    }

.wrap-send .row {
    margin-left: -8px;
    margin-right: -8px;
}

.wrap-send .col-xs-6 {
    padding-left: 8px;
    padding-right: 8px;
}

.contact-w {
    overflow: hidden;
    padding: 8px 0;
    width: 100%;
}

    .contact-w .contact-input {
        overflow: hidden;
    }

.contact-input .contact-textbox {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.contact-input .contact-textbox, .contact-input .contact-area {
    background-color: #f4f4f4;
    border: solid 1px #ddd;
    color: #222;
    display: block;
    font-size: 13px;
    width: 100%;
}

.contact-input .contact-area {
    padding: 10px;
    height: 160px;
    line-height: 20px;
    resize: none;
}

.contact-btn {
    text-align: center;
}

.button-btn {
    background-color: #ea0000;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    padding: 0 15px;
    min-width: 180px;
}

/*============ page thương mại ===========*/


/*======= chi tiet thuong mai ======*/

/**=========== Dịch vụ ===========**/


/* bang gia */
















/*============= menu (*style css cho menu*) ==================*/

/*========================menu mobile (*style css toggle menu(nút nhấp hiện menu)*) ==========================*/
.menu-mo {
    color: #0f487e;
    display: block;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 12px;
    line-height: 40px;
}

    .menu-mo span {
        color: #0f487e;
        display: block;
        float: left;
        font-size: 26px;
        line-height: 40px;
        padding-right: 5px;
    }

    .menu-mo:hover, .menu-mo:visited, .menu-mo:focus {
        color: #fff;
        text-decoration: none;
    }
/*========= (*style menu mobile*) ==========*/
.mobile-panel {
    background-color: #fff;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 240px;
    /*z-index: 9999;*/
    opacity: 0;
    filter: alpha(opacity=0);
}

    .mobile-panel .menu-in {
        overflow: hidden;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1;
    }

.mask-panel, #mask-left, #mask-right /* mask khi click ra ngoài menu thì đóng menu */ {
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.mobile-panel p {
    padding: 0;
    margin: 0;
}
/** nút close ở menu **/
.close-menu {
    background-color: #009ed6;
    top: 0;
    position: absolute;
    overflow: hidden;
    height: 30px;
    width: 30px;
    z-index: 10;
}

    .close-menu a {
        color: #fff;
        display: block;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        height: 100%;
        width: 100%;
    }

        .close-menu a:hover {
            text-decoration: none;
        }

#menumobile .close-menu {
    right: -30px;
}

#mobileRight .close-menu {
    left: -30px;
}

.mobile-panel .menu-mobile {
    position: relative;
    padding: 15px;
    z-index: 1;
}

.overflow {
    overflow: hidden;
}
/*===========================*/
/*================ transition menu =================*/
.panel-reveal {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}

    .panel-reveal .mobile-panel {
        -ms-transform: none; /* IE 9 */
        -webkit-transform: none; /* Chrome, Safari, Opera */
        transform: none;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8+*/
        filter: alpha(opacity=0); /* IE7 and lower */
        z-index: -1;
    }

    .panel-reveal .mobilep-left {
        -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Firefox 3.5 - 3.6 */
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        /*left: -100%;*/
    }

    .panel-reveal .mobilep-right {
        -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Firefox 3.5 - 3.6 */
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    /*================== translate3d đẩy menu ra ========================*/
    .panel-reveal .open-in {
        z-index: 1;
    }

    .panel-reveal .mobilep-right {
        left: auto;
        right: 0;
    }

    .panel-reveal #wrapper-in {
        -ms-transition: transform 300ms ease 0s; /* IE 9 */
        -webkit-transition: transform 300ms ease 0s; /* Chrome, Safari, Opera */
        transition: transform 300ms ease 0s;
    }

.mobile-active-left #wrapper-in {
    -ms-transform: translate3d(240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(240px, 0px, 0px);
}

.mobile-active-left .mask-panel {
    left: 240px;
}

.mobile-active-right #wrapper-in {
    -ms-transform: translate3d(-240px, 0px, 0px); /* IE 9 */
    -webkit-transform: translate3d(-240px, 0px, 0px); /* Chrome, Safari, Opera */
    transform: translate3d(-240px, 0px, 0px);
}

.mobile-active-right .mask-panel {
    left: auto;
    right: 240px;
}
/*====================================*/
.menu-mobile .title {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}
/*================= style menu lúc responsive ===================*/
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .menu-nav > li {
        padding-top: 1px;
    }

        .menu-nav > li > a {
            background-color: #0f487e;
            color: #fff;
            display: block;
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
            padding: 7px 25px 7px 10px;
            text-transform: uppercase;
            position: relative;
        }

    .menu-nav .iconar {
        display: block;
        font-size: 22px;
        text-align: right;
        height: 30px;
        line-height: 30px;
        right: 5px;
        top: 50%;
        margin-top: -15px;
        position: absolute;
        width: 30px;
        opacity: 0.8;
    }

    .menu-nav a:hover {
        text-decoration: none;
    }

    .menu-nav > li > a:hover, .menu-nav > li:hover > a, .menu-nav > li.active > a {
        background-color: #de0004;
    }

    .menu-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .menu-nav > li > ul {
        background-color: #fff;
    }

    .menu-nav ul li {
        padding-top: 1px;
    }

    .menu-nav ul a {
        background-color: #636363;
        color: #fff;
        display: block;
        font-size: 15px;
        line-height: 22px;
        padding: 5px 10px;
        position: relative;
        text-transform: capitalize;
    }

    .menu-nav ul a {
        padding-left: 20px;
    }

    .menu-nav ul ul a {
        font-size: 14px;
        line-height: 20px;
        padding-left: 30px;
    }

    .menu-nav ul ul ul a {
    }

        .menu-nav ul ul ul a .iconl {
            display: none;
        }

    .menu-nav ul .iconl {
        display: block;
        height: 20px;
        line-height: 18px;
        left: 10px;
        top: 6px;
        position: absolute;
        width: 14px;
    }

    .menu-nav ul ul .iconl {
        left: 20px;
    }

    .menu-nav ul li > a:hover, .menu-nav ul li:hover > a, .menu-nav ul li.active > a {
        color: #fef738;
    }

.menu-mobile .title {
    font-size: 16px;
}

#menuProduct > li > a {
    font-size: 15px;
}

#menuProduct ul li a {
    padding-left: 20px;
}
/*=================*/
.menu-mobile .logo {
    background-color: #fff;
    float: none;
    /*margin: 0 auto 15px;*/
    padding: 0;
    /*width: 180px;*/
    width: 210px;
    padding-left: 0;
}

/************************************/